a:hover, a:active {
    text-decoration: none;
}
li a {
    font-size: 13px;
}
ul {
    padding-left: 0;
}
.text-bold{
	font-weight: bold;
}
.header-top{
	padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.box .box-header {
    padding-bottom: 0px;
    padding: 10px !important;
}
.wrapper {
	padding-right: 5 !important;
	padding-left: 5  !important;
}
.search-header{
	font-size: 12px;
}
.search{
	padding-left: 0;
}
.search > li {
	display: block;
}
.search  li .icon::after {
	display: block;
	position: absolute;
    right: 10px;
    display: block;
    content: "";
    background: url(../../src/image/item/ico_arr_02.png) no-repeat 0 0;
    background-size: 13px auto;
    margin: -28px 0 0 0;
    width: 13px;
    height: 20px;
    vertical-align: -2px;
}
.search > li >.box{
	height: 60px;
	padding: 10px 0 0 10px;
}
.search > li{
	position: relative;
}
.search > li::after{
	position: absolute;
    content: '';
    display: block;
    background: url('ico_arr_02.png')no-repeat;
    right: 10px;
    width: 34px;
    margin-top: -35px;
}
.box > a > p{
	font-size: 12px;
}
.box > a > .icon_plus{
	float: left;
    width: 18px;
    height: 18px;
    margin-right: 1px;
    vertical-align: middle;
}
.box> a div > .img-search{
    height: 40px !important;
    vertical-align: middle;
}
.search > .close-search{
	text-align: right;
    padding-left: 40%;
}
.search > .close-search > .box.buttonIcon{
	height: 30px;
    padding: 5px;
    text-align: center;
}
.larger{
	display: inline;
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding-left: 7px;
    vertical-align: middle;
    margin: 0;
}
.small{
	position: relative;
    top: -3px;
    padding-left: 57px;
    color: black;
    height: 0px;
    font-size: 12px;
    opacity: 0.5;
    vertical-align: top;
    line-height: 2px;
    margin: 0;
}
.search-hide {
	display: none;
}
.innerpopular {
	min-height: 100px;
	margin-top: 10px;
}
.innerpopular > ul{
	padding: 0;
	margin-bottom: 0;
}
.innerpopular > ul > li {
	margin-left: 10px;
    font-size: 13px;
    display: inline-block;
}
.popularWord {
    display: inline-block;
    background-color: #ff3300;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border: solid;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.popularWord.attentionWord{
	background-color: #fe9900;
}
.input-search{
    width: 100%;
    height: 32px;
    border: 1px solid #bab9b9;
    padding: 5px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-appearance: none;
}
.search-main{
    margin-top: 10px;
}
.img-submit > img {
	height: 32px;
}
/***************** page 2 search *************/
.mainContents > .pageTitle {
    margin: 0 0 10px;
    padding: 20px 10px;
    background: #ff3300;
    color: #ffffff;
    font-size: 14px;
}
.mainContents > h2 {
	border-top: 2px solid #ff3300;
	padding: 10px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
    color: #ff3300;
    font-size: 1.33em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.aseaSelect{
	margin: 0;
    padding: 10px;
    border-top: 1px solid #ffffff;
    background: #ffffff;
    font-size: 13px;
}
.aseaLeft{
	float: left;
    display: inline;
}
.aseaLeft > h1 {
    margin-top: 5px;
    font-size: 13px;
}
.aseamain{
    min-height: 15px;
}
.aseaRight{
	float: right;
    display: inline;
}
.aseaSelect > p > .title {
	float: left;
}
.aseaSelect > p > select {
    width: 89%;;
}
select{
    position: relative;
    padding: 6px 0;
    width: 100%;
    height: 30px;
    vertical-align: middle;
}
.tableJobcate{
	margin: 0;
    table-layout: fixed;
    width: 100%;
    background: #ffffff;
}
.tableJobcate  td {
    border-bottom: 1px solid #dddddd;
    font-size: 1em;
    padding: 0 10px;
}
.tableJobcate td > label {
    display: table;
    width: 100%;
    font-weight: 500;
}
.tablemain {
	min-height: 200px;
	background: #ffffff;
}
.tableJobcate input{
    width: 25px;
    height: 25px;
    vertical-align: -7px !important;
    margin-top: 8px !important;
    margin-right: 12px !important;
    margin-bottom: 8px !important;
    margin-left: 0px;
}
.tableJobcate td {

}
td .name {
	font-size: 13px;
}
.commitment > .commited {
	width: 100%;
	padding-left: 0px;
	background: #ffffff;
	margin-bottom: 0;
}
.commited li > a {
	position: relative;
    display: block;
    padding: 10px 26px 10px 10px;
    color: #000000;
}
.commited li {
    border-bottom: 1px solid #dddddd;
}
.commited li a::after {
    position: absolute;
    right: 10px;
    display: block;
    content: "";
    background: url(../../src/image/item/mod_ico_arrow_07.png) no-repeat 0 0;
    background-size: 13px auto;
    margin: -15px 0 0 0;
    width: 13px;
    height: 13px;
    vertical-align: -2px;
}
.numberwork {
    padding: 10px;
    background: #ffffff;
}
span input{
	width: 100%;
    height: 30px;
    border: 1px solid #bab9b9;
    padding: 5px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    font-size: 1.167em;
    -webkit-appearance: none;
}
.pagetop {
	text-align: right;
    background: #ffffff;
}
.pagetop a::after{
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    content: "";
    background: url(../../src/image/item/mod_ico_arrow_13.png) no-repeat 0 0;
    background-size: 13px auto;
    margin: -6px 0 0 0;
    width: 13px;
    height: 13px;
    vertical-align: -2px;
}
#back-to-top{
	position: relative;
    padding-left: 18px;
    color: #000000;
    text-decoration: underline;
    z-index: 0;
    text-align: right;
}
.logo-bottom img {
    width: 140px;
    height: 40px;
}
.copyright {
   margin: 0;
    padding: 9px 0;
    background: #ff3300;
    color: #ffffff;
}
.gfooter {
    background: #ffffff;
}
.gfooter .unav {
    display: block;
    border-top: 1px solid #b2b2b2;
    padding: 25px 0 0;
    text-align: center;
}
.gfooter .unav ul {
    overflow: hidden;
    margin: 0 0 10px;
    list-style: none;
    line-height: 1;
    padding-left: 10px;
}
.gfooter .unav li:first-child {
    border-left: none;
    padding: 0 8px 0 0;
}
.gfooter .unav li {
    display: inline-block;
    margin: 0 0 1em;
    padding: 0 8px;
    border-left: 1px solid #252525;
}
.gfooter .unav li a {
    color: #252525;
    text-decoration: underline;
    font-size: 12px;
}
.hidden-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 100;
}
.hidden-bottom li {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 2px 0;
    font-size: 12px;
}
.hidden-bottom ul {
    padding-left: 0;
    text-align: center;
}
.hidden-bottom li a{
	display: inline-block;
    vertical-align: middle;
}
#search img {
    width: 177px;
    height: 49px;
}
#clear img{
    width: 115px;
    height: 40px;
}
/******** Location *******/
.pageTitle-loca{
    background: #EEEEEE;
    text-align: center;
    font-size: 16px;
    height: 45px;
    line-height: 2.5;
    margin: 0;
}
.pageTitle-loca a {
    color: #000000;
}
a .local-header{
    background: url(../../src/image/item/localHeader_back.png) no-repeat 0 0;
    position: absolute;
    background-position: 0px -6px;
    background-repeat: no-repeat;
    font-size: 13px;
    background-size: 64px;
    width: 63px;
    height: 35px;
    margin-top: 5px;
    padding-top: 0px;
    padding-left: 4px;
    left: 5px;
}
.mainContents {
    min-height: 200px;
    background: #ffffff;
    margin-bottom: 50px;
}
.mainContents form{
}
.linkTlt {
    display: table-cell;
    width: 90px;
}
.linkCont{
    display: table-cell;
}
.linkCont li {
    display: inline-block;
}
.linkCont li a {
   width: 100%;
    display: inline;
    margin-right: 5px;
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}
.sppopulararea {
}
.areaHeader {
   padding: 10px 10px 0 10px;ơ
}
.middinfo {
    padding: 5px;
    background-color: #F2F2F2;
}
.middinfo.info-top{
    margin-top: -10px;
}
.maincond{
    width: 100%;
}
.linklist {
    width: 37%;
}
.tabs-left .nav-tabs li {
    background-color: #EEEEEE;
    border-left: 3px solid #EEEEEE;
    border-bottom: 1px solid #dddddd;
}
.tabs-left .nav-tabs li {
    border: 0px;
    border-top: 1px solid #dddddd;
}
.tabs-left .nav-tabs li a {
    color: #000000;
    font-size: 13px;
}
.tabs-left .nav-tabs li.active > a{
   border: 0px !important;
}
.tabs-left .nav-tabs li.active{
    background-color: #FFFFFF;
    border-left: 3px solid #ff3300;
    width: 100%;
}
.tabs-left .nav-tabs li {
    position: relative;
    display: block;
    color: #000000;
    width: 100%;
    height: 43px;
}
.linklist, .condRight {
    display: table-cell;
}
.condRight{
    border-top: 1px solid #dddddd;
    vertical-align: top;
    width: 64%;
}
.linkcell {
    padding-left: 10px;
}
.linkcell li {
    display: inline-block;
}
.linkcell input[type=checkbox] {
    width: 30px;
    height: 30px;
    vertical-align: -11px !important;
    margin-top: 6px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}
.condLyer_01 li label  {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0px;
}
.condLyer_02  li .linkcell {
    padding-left: 20px;
}
.condLyer_03  li .linkcell {
    padding-left: 30px;
}
.condLyer_03.rosen > li::after{
    /* display: block;
    position: absolute;
    right: 10px;
    display: block;
    content: "";
    background: url(../../src/image/item/ico_arr_02.png) no-repeat 0 0;
    background-size: 10px auto;
    margin: -30px 0 0 0;
    width: 13px;
    height: 20px;
    vertical-align: -2px;
    */
}
.condLyer_03 > li::after{
   /*  display: block;
    position: absolute;
    right: 10px;
    display: block;
    content: "";
    background: url(../../src/image/item/arrow_blue.png) no-repeat 0 0;
    background-size: 10px auto;
    margin: -30px 0 0 0;
    width: 13px;
    height: 20px;
    vertical-align: -2px;
    */
}
.linkcell li a{
    color: #000000;
}
.condLyer_03 .icon-blue {
    float: right;
    margin: 10px 8px 0 5; 
}
.icon-blue.rosen img {
    height: 15px;
}
.viewCond {
    margin-top: 10px;
    border-bottom: 1px solid #dddddd;
}
.kaizen-clone p{
    color: #000000 !important;
    background: #FFFFFF !important;
    background: linear-gradient(to bottom, #FFFFFF 0%,#EEEEEE 100%) !important;
    border-radius: 8px;
    margin: 0 5px;
    padding: 10px 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 15px;
    width: 110px;
}
.kaizen p {
    border-radius: 8px !important;
    margin: 0 5px !important;
    padding: 10px 0 !important;
    margin-bottom: 0 !important;
    font-weight: bold !important;
    font-size: 15px !important;
    background: #ff5b00 !important;
    background: -moz-linear-gradient(top, #ff5b00 0%, #ff0100 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5b00), color-stop(100%,#ff0100)) !important;
    background: -webkit-linear-gradient(top, #ff5b00 0%,#ff0100 100%) !important;
    background: linear-gradient(to bottom, #ff5b00 0%,#ff0100 100%) !important;
    color: #FFFFFF !important;
    width: 175px;
}
.kaizen-mod {
    color: #ffffff;
}
.kaizen-mod .kaizen-mod-text {
    font-weight: bold;
    font-size: 16px;
}
.condLyer_01 li.tab-pane  {
    display: none;
}
.condLyer_01 li.active {
    display: block;
}
.openClick p.open{
    background-image: url(../../src/image/item/ico_minus.png);
}
.openClick p {
    position: absolute;
    right: 0;
    display: block;
    content: "";
    background-image: url(/../../src/image/item/ico_plus.png) no-repeat 0 0;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 25px;
    width: 26px;
    height: 26px;
    margin: -18px 5px 0 0;
    float: right;
}
.tab-pane {
    display: none;
}
.tab-pane.active{
    display: block;
}
.tabUnit {
}
.unitList {
    border-bottom: solid 4px #ff3300 !important;
    /*padding: 6px 10px 0;*/
    text-align: center;
    background-color: #eeeeee;
}
.tabUnit > .unitList.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ffffff;
    background: red;
    padding: 16px 10px 10px 10px;
    border: solid 1px #ff3300;
    border-bottom: none;
}
.tabUnit > .unitList.nav-tabs>li.active::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #ff3300;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -10px
}
.tabUnit > .unitList.nav-tabs>li + li{
    margin-left: 2%;
}
.tabUnit > .unitList.nav-tabs>li{
    width: 49%;
    margin-top: 8px;
}
.tabUnit > .unitList.nav-tabs>li.active{
    width: 49%;
    margin-top: 0px;
}
.tabUnit > .unitList.nav-tabs>li>a {
    color: #000000;
    font-weight: bold;
    display: block;
    font-size: 12px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px 10px 6px 10px;
    box-sizing: border-box;
    border: solid 1px #dcdcdc;
    border-bottom: none;
    background: #ffffff;
}
.scressBtn{
    width: 250px;
    height: 45px;
    border-radius: 10px;
    color: #FFFFFF !important;
    vertical-align: middle;
    line-height: 45px;
    font-size: 16px;
    font-weight: bold;
    margin: auto; 
    background: #cccccc;
}
.ItInput input{
    width: 100%;
    height: 35px;
    border: 1px solid #bab9b9;
    padding: 5px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    font-size: 12px;
    padding-left: 8px;
}
.boxSearch {
    padding: 10px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin: 20px 5px 5px;
}
.boxSearch > .box-header {
    text-align: left;
    margin: 0 0 10px 0;
}
.un-arrow {
    background-image: url(../../src/image/item/B_ico_arr02.png);
    padding-bottom: 43px;
    background-repeat: no-repeat;
    background-position: 8px 47px;
    background-size: 24px;
    margin-bottom: 0;
}
/************ CONDITION*************/
.linkLine {
}
.linkLine li a {
    position: relative;
    display: block;
    padding: 10px;
    color: #000000;
}
.linkLine li a::after {
    display: block;
    position: absolute;
    right: 10px;
    display: block;
    content: "";
    background: url(../../src/image/item/ico_arr_02.png) no-repeat 0 0;
    background-size: 13px auto;
    margin: -16px 0 0 0;
    width: 13px;
    height: 20px;
    vertical-align: -2px;
}
/*********** CAREER *************/
.boxType .type-header .heading-pic >.image {
    width: 120px;
}
.heading-pic >.image img {
    width: 120px;
    height: 90px;
}
.heading-pic .image, .heading-pic, .header-right{
    display: table-cell;
    vertical-align: middle;
    direction: ltr;
}
.header-right{
    width: 100%;
    padding-left: 10px;
}
.header-right-title p {
    padding: 0 2px 2px;
    list-style: none;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0 0 8px;
    overflow: hidden;
    font-weight: bold;
}
.summerBox {
    background: url(../../src/image/item/ico_arr_02.png) no-repeat 0 0;
    background-size: 12px auto;
    background-position-x: 100%;
    background-position-y: 50%;
    margin-top: 10px;
}
.summer-table {
    margin: 0;
    width: 100%;
}
.summer-table tr {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.summer-table th {
    width: 45px;
    text-align: center;
    background-color: #EEEEEE;
    padding: 6px 0 5px;
}
.summer-table img {
    vertical-align: middle;
    width: 17px;
    height: 15px;
}
.summer-table th span {
    font-weight: 300;
    font-size: 13px;
}
.summer-table td {
    padding-left: 5px;
    font-size: 13px;
    text-align: left;
}
.itemsave{
    margin: auto;
    border-radius: 8px;
    width: 70%;
    background: #9B9B9B;
    background: -moz-linear-gradient(top, #ff5b00 0%, #ff0100 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9B9B9B), color-stop(100%,#838383));
    background: -webkit-linear-gradient(top, #9B9B9B 0%,#838383 100%);
    background: linear-gradient(to bottom, #9B9B9B 0%,#838383 100%);
    margin-bottom: 10px;
}
.appbtn {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4); */
     border-radius: 7px; 
     border: 1px solid #ff3300;
      background: #ff5b00; 
    background: -moz-linear-gradient(top, #ff5b00 0%, #ff0100 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5b00), color-stop(100%,#ff0100)); 
     background: -webkit-linear-gradient(top, #ff5b00 0%,#ff0100 100%); 
     background: linear-gradient(to bottom, #ff5b00 0%,#ff0100 100%);  
}
.itemsave a {
        text-decoration: none;
    height: 38px;
    width: 290px;
    border-radius: 7px;
    position: relative;
}
.itemsave .star {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.33em;
    line-height: 39px;
    padding-left: 30px;
    height: 38px;
}
.star {
    background-image: url(../../src/image/item/C_saved_off.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 25% 5px;
}
.apply_btn {
   
}
.table-bottom table {
    text-align: center;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}
.image-complate{
    display: block;
    position: absolute;
    right: 10px;
    display: block;
    content: "";
    background: url(../../src/image/item/C_nearend_topicon.png) no-repeat 0 0;
    background-size: 60px auto;
    margin: -28px 0 0 0;
    width: 60px;
    height: 60px;
    vertical-align: -2px;
}